@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#features1-11 P {
  color: #ffffff;
  text-align: center;
}
#features1-11 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}


#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-3 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}


#content5-11 .mbr-header .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#content5-11 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-article {
  color: #fff;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-12 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-12 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}
#msg-box5-31 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-31 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-31 .mbr-article {
  color: #ffffff;
}
#msg-box5-34 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-34 .mbr-article {
  color: #ffffff;
}
#msg-box5-36 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-36 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-36 .mbr-article {
  color: #ffffff;
}


#content5-18 .mbr-header .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#menu-20 .mbr-brand__name {
  font-size: 16px;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-20 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-20 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-20 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}


#content5-22 .mbr-header .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
}
#menu-24 .mbr-brand__name {
  font-size: 16px;
}
#menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-24 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-24 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}


#content5-16 .mbr-header .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}


#msg-box3-35 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-35 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-35 .mbr-article P {
  color: #ffffff;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}



#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}
#msg-box3-37 .mbr-header .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#msg-box3-37 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-37 .mbr-article H5 {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#gallery1-22 SMALL {
  font-size: 12px;
}


#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #313834;
}
#menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-31 .mbr-brand__name a {
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-31 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}
